In [7]:
import pandas as pd

# Load dataset
df = pd.read_csv("yellow_tripdata_2015-01.csv")

# Display basic info
print("Dataset Info:")
print(df.info())

# Show first 5 rows
print("\nSample Data:")
print(df.head())

# Convert pickup datetime to proper format
df['tpep_pickup_datetime'] = pd.to_datetime(df['tpep_pickup_datetime'])

# Total number of trips
total_trips = len(df)
print("\nTotal Trips:", total_trips)

# Average trip distance
avg_distance = df['trip_distance'].mean()
print("Average Trip Distance:", round(avg_distance, 2))

# Trips per passenger count
trips_by_passenger = df['passenger_count'].value_counts()
print("\nTrips by Passenger Count:")
print(trips_by_passenger)

# Peak pickup hours
df['hour'] = df['tpep_pickup_datetime'].dt.hour
peak_hours = df['hour'].value_counts().sort_index()
print("\nTrips per Hour:")
print(peak_hours)

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 343338 entries, 0 to 343337
Data columns (total 19 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   VendorID               343338 non-null  int64
 1   tpep_pickup_datetime   343338 non-null  object
 2   tpep_dropoff_datetime  343338 non-null  object
 3   passenger_count        343337 non-null  float64
 4   trip_distance          343337 non-null  float64
 5   pickup_longitude       343337 non-null  float64
 6   pickup_latitude        343337 non-null  float64
 7   RateCodeID             343337 non-null  float64
 8   store_and_fwd_flag     343337 non-null  object
 9   dropoff_longitude      343337 non-null  float64
 10  dropoff_latitude       343337 non-null  float64
 11  payment_type           343337 non-null  float64
 12  fare_amount            343337 non-null  float64
 13  extra                  343337 non-null  float64
 14  mta_tax                343337 non-null  float64
 15  tip_amount             343337 non-null  float64
 16  tolls_amount           343337 non-null  float64
 17  improvement_surcharge  343337 non-null  float64
 18  total_amount           343337 non-null  float64
dtypes: float64(15), int64(1), object(3)
memory usage: 49.8+ MB
None

Sample Data:
   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
0         2  2015-01-15 19:05:39   2015-01-15 19:23:42              1.0
1         1  2015-01-10 20:33:38   2015-01-10 20:53:28              1.0
2         1  2015-01-10 20:33:38   2015-01-10 20:43:41              1.0
3         1  2015-01-10 20:33:39   2015-01-10 20:35:31              1.0
4         1  2015-01-10 20:33:39   2015-01-10 20:52:58              1.0

   trip_distance  pickup_longitude  pickup_latitude  RateCodeID  \
0           1.59        -73.993896        40.750111         1.0
1           3.30        -74.001648        40.724243         1.0
2           1.80        -73.963341        40.802788         1.0
3           0.50        -74.009087        40.713818         1.0
4           3.00        -73.971176        40.762428         1.0

  store_and_fwd_flag  dropoff_longitude  dropoff_latitude  payment_type  \
0                  N         -73.974785         40.750618           1.0
1                  N         -73.994415         40.759109           1.0
2                  N         -73.951820         40.824413           2.0
3                  N         -74.004326         40.719986           2.0
4                  N         -74.004181         40.742653           2.0

   fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
0         12.0    1.0      0.5        3.25           0.0
1         14.5    0.5      0.5        2.00           0.0
2          9.5    0.5      0.5        0.00           0.0
3          3.5    0.5      0.5        0.00           0.0
4         15.0    0.5      0.5        0.00           0.0

   improvement_surcharge  total_amount
0                    0.3         17.05
1                    0.3         17.80
2                    0.3         10.80
3                    0.3          4.80
4                    0.3         16.30

Total Trips: 343338
Average Trip Distance: 3.13

Trips by Passenger Count:
passenger_count
1.0    242619
2.0     48747
5.0     18552
3.0     14134
6.0     12282
4.0      6803
0.0       199
9.0         1
Name: count, dtype: int64

Trips per Hour:
hour
0     12663
1      8197
2      6243
3      4977
4      2952
5      3170
6      5921
7     14161
8     15024
9     16200
10    14312
11    13746
12    16888
13    16029
14    20003
15    18039
16    17536
17    18129
18    21946
19    24026
20    19270
21    19764
22    17294
23    16848
Name: count, dtype: int64